<%= form_for @recommendation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :restaurant_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :restaurant_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :source_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_recommended, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_recommended, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recommendations_path, :class => 'btn' %>
  </div>
<% end %>
