<%- model_class = Recommendation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:restaurant) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:date_recommended) %></th>
    </tr>
  </thead>
  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
				<td><%= recommendation.restaurant.name %></td>
				<td><%= recommendation.source.name if recommendation.source %></td>
        <td><%= recommendation.date_recommended %></td>
      </tr>
    <% end %>
  </tbody>
</table>
